@charset "UTF-8";
.bg-nav {
  border-radius: 10px;
  border: rgb(144, 86, 86);
  border-bottom: 1px solid #ccc;
  border-style: solid;
  background-image: url(/PROYECTO/mi-repositorio/IMG/img-sueltas/rustic-vintage-wooden-boards-on-260nw-1940804920.png);
  background-size: 150% 300%;
  height: 200px;
  width: 100%;
  top: 1;
  background-color: #fff;
  display: flex;
  font-size: 30px;
}
.bg-nav .logo-título {
  margin-top: 25px;
  display: inline-block;
}
.bg-nav .logo-título .imagen-logo {
  width: 200px;
  height: auto;
}

.nav-bar-index {
  width: 80%;
  margin-left: 350px;
  margin-top: 80px;
}
.nav-bar-index .lista-navbar {
  color: rgb(233, 233, 220);
  list-style: none;
}
.nav-bar-index .lista-navbar .boton-nav {
  background-color: rgba(0, 0, 0, 0.402);
  color: rgb(233, 233, 220);
  padding: 8px;
  text-decoration: none;
}
.nav-bar-index .lista-navbar .boton-nav:hover {
  background-color: #b99257;
}

.menu-hamburguesa {
  display: none;
}

.titulo-productos {
  color: brown;
  font-size: 30px;
  padding: 10px;
  text-align: center;
  margin: 0px;
}

.flex-container {
  background-color: rgb(219, 193, 141);
  height: 400px;
  padding: 50px;
  display: flex;
  gap: 50px;
  justify-content: space-evenly;
}
.flex-container .flex-item {
  border: 2px solid brown;
  background-color: #b99257;
  color: brown;
  width: 300px;
  height: auto;
  padding: 5px;
  text-align: center;
  font-size: 25px;
}
.flex-container .flex-item img {
  width: 100%;
  height: 80%;
}

.grid-layout {
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: 400px 400px 400px;
  width: 100%;
  margin: 0 auto;
  background-color: antiquewhite;
  padding: 20px;
  gap: 15px;
}
.grid-layout .caja {
  border: solid rgb(163, 122, 68);
  font-size: 29px;
}
.grid-layout .caja img {
  width: 100%;
  height: 100%;
}

.container-chat {
  margin-top: 50px;
}
.container-chat .col-md-8 {
  border: solid brown;
  padding: 0;
}
.container-chat .col-md-8 .chat-box {
  height: 200px;
  overflow-y: scroll;
}
.container-chat .col-md-8 .chat-box .message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.container-chat .col-md-8 .chat-box .message .message.sender {
  background-color: #e6f2ff;
}
.container-chat .col-md-8 .chat-box .message .message.sender .message.receiver {
  background-color: #f7f7f7;
}

section {
  text-align: center;
}
section .h1-consulta {
  font-size: 30px;
  color: brown;
  margin-top: 50px;
}
section .h1-consulta .box-contacto {
  margin-top: 100px;
}

.centrar {
  margin-top: 40px;
  text-align: center;
}
.centrar .icono {
  margin-right: 10px;
  margin-left: 10px;
}
.centrar .icono .img-redes {
  width: 50px;
  height: auto;
}

body {
  background-color: antiquewhite;
}
body .dirección {
  font-size: 16px;
  text-align: center;
  padding: 0px;
  color: brown;
}

.m-titulo {
  margin-top: 50px;
  width: 25%;
}

h1 {
  text-align: center;
  color: rgb(233, 233, 220);
}

#carouselExampleFade {
  margin-top: 20px;
}
#carouselExampleFade .img-fluid {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  height: 500px;
  border: solid brown;
}

.foto-empresa {
  margin-top: 50px;
  display: flex;
}
.foto-empresa .imagen-empresa {
  width: 700px;
  margin-left: 20px;
}

.empresa-parrafo {
  margin-left: 50px;
  margin-top: -10px;
  font-size: 30px;
}

.video {
  display: flex;
  margin-top: 40px;
}
.video .texto-video {
  font-size: 30px;
  width: 50%;
  text-align: right;
  margin: 0px;
}

iframe {
  margin-left: 50px;
  display: flex;
}

@media (max-width: 768px) {
  .menu-hamburguesa {
    display: block;
  }
  .nav-bar-index {
    display: none;
  }
  .foto-empresa {
    display: inline;
  }
  .empresa-parrafo {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    font-size: 20px;
  }
  .h2-empresa {
    text-align: center;
  }
  .imagen-empresa {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
  }
  .video {
    display: inline;
  }
  iframe {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 400px;
  }
  .video .texto-video {
    font-size: 10px;
    width: 80%;
    text-align: center;
    justify-content: flex-start;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
  }
  .img-fluid {
    height: 400px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .li-hamburguesa {
    font-size: 23px;
    list-style: none;
    display: inline;
  }
  .boton-menu-hamburguesa {
    color: brown;
    text-decoration: none;
  }
  #carouselExampleFade .img-fluid {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    height: 400px;
  }
  .flex-container {
    width: 100%;
    height: 250px;
    gap: 10px;
    padding: 10px;
  }
  .flex-container .flex-item {
    width: 50%;
    height: 100%;
  }
  .flex-container .flex-item img {
    width: 100%;
    height: 60%;
  }
  .grid-layout {
    display: inline;
  }
  .grid-layout .caja {
    width: 100%;
    font-size: 19px;
    border: none;
    padding: 10px;
  }
  .grid-layout .caja h2 {
    text-align: center;
  }
  .grid-layout .caja img {
    width: 80%;
    height: 200px;
    margin-left: 10%;
    border: solid brown;
  }
}