@charset "UTF-8";
.bg-nav {
  border-radius: 10px;
  border: rgb(144, 86, 86);
  border-bottom: 1px solid #ccc;
  border-style: solid;
  background-image: url("../IMG/img-sueltas/rustic-vintage-wooden-boards-on-260nw-1940804920.png");
  background-size: 150% 300%;
  height: 200px;
  width: 100%;
  top: 1;
  background-color: #fff;
  display: flex;
  font-size: 30px;
}
.bg-nav .logo-título {
  margin-top: 25px;
  display: inline-block;
}
.bg-nav .logo-título .imagen-logo {
  width: 200px;
  height: auto;
}

.nav-bar-index {
  width: 80%;
  margin-left: 350px;
  margin-top: 80px;
}
.nav-bar-index .lista-navbar {
  color: rgb(233, 233, 220);
  list-style: none;
}
.nav-bar-index .lista-navbar .boton-nav {
  background-color: rgba(0, 0, 0, 0.402);
  color: rgb(233, 233, 220);
  padding: 8px;
  text-decoration: none;
}
.nav-bar-index .lista-navbar .boton-nav:hover {
  background-color: #b99257;
}

.menu-hamburguesa {
  display: none;
}

.titulo-productos {
  color: brown;
  font-size: 30px;
  padding: 10px;
  text-align: center;
  margin: 0px;
}

.flex-container {
  width: 100%;
  height: 200px;
  gap: 10px;
  padding: 10px;
  display: flex;
}
.flex-container .flex-item {
  border: 2px solid brown;
  background-color: #b99257;
  color: brown;
  width: 50%;
  height: 100%;
  font-size: 15px;
  padding: 5px;
  text-align: center;
}
.flex-container .flex-item img {
  width: 100%;
  height: 70%;
}

@media (min-width: 768px) {
  .flex-container .flex-item {
    font-size: 16px;
  }
  .flex-container .flex-item img {
    height: 80%;
  }
}
@media (min-width: 1024px) {
  .flex-container {
    gap: 50px;
    height: 300px;
  }
  .flex-container .flex-item {
    font-size: 20px;
  }
  .flex-container .flex-item img {
    height: 80%;
  }
}
@media (min-width: 1920px) {
  .flex-container {
    height: 400px;
    gap: 50px;
  }
  .flex-container .flex-item {
    font-size: 30px;
  }
  .flex-container .flex-item img {
    height: 80%;
  }
}
.grid-layout {
  width: 100%;
}
.grid-layout h2 {
  font-size: 20px;
  color: brown;
}
.grid-layout .caja {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 15px;
  align-items: center;
  padding: 10px;
}
.grid-layout .imagen {
  width: 80%;
}

@media (min-width: 1024px) {
  .grid-layout {
    display: flex;
    padding: 0px;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    padding: 0;
  }
  .grid-layout .container {
    max-width: 100%;
    display: flex;
    margin: 10px;
    width: 100%;
    padding: 0;
  }
  .grid-layout .container h2 {
    font-size: 25px;
  }
  .grid-layout .container .caja {
    width: 50%;
    font-size: 16px;
    background: linear-gradient(590deg, brown, #b99257, white);
  }
  .grid-layout .container .caja .imagen {
    width: 100%;
    background: none;
    padding: 0;
  }
}
@media (min-width: 1920px) {
  .grid-layout .container {
    max-width: 100%;
  }
  .grid-layout .container h2 {
    font-size: 35px;
  }
  .grid-layout .container .caja {
    font-size: 31px;
    margin: 1px;
  }
}
/* CHAT BOX */
.container-chat {
  margin-top: 50px;
}
.container-chat .col-md-8 {
  border: solid brown;
  padding: 0;
}
.container-chat .col-md-8 .chat-box {
  height: 200px;
  overflow-y: scroll;
}
.container-chat .col-md-8 .chat-box .message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.container-chat .col-md-8 .chat-box .message .message.sender {
  background-color: #e6f2ff;
}
.container-chat .col-md-8 .chat-box .message .message.sender .message.receiver {
  background-color: #f7f7f7;
}

/* BOX DE CONSULTAS */
section {
  text-align: center;
}
section .enviar-consulta {
  background-color: brown;
  opacity: 0.5;
}
section .enviar-consulta:hover {
  background-color: brown;
  opacity: 1;
}
section .enviar-consulta:focus {
  width: 200px;
  height: 50px;
}
section .h1-consulta {
  font-size: 30px;
  color: brown;
  margin-top: 50px;
}
section .h1-consulta .enviar-consulta {
  background-color: brown;
}

.centrar {
  margin-top: 40px;
  text-align: center;
}
.centrar .icono {
  margin-right: 10px;
  margin-left: 10px;
}
.centrar .icono .img-redes {
  width: 50px;
  height: auto;
}

body {
  background-color: antiquewhite;
  /* Dirección del local */
}
body .dirección {
  font-size: 16px;
  text-align: center;
  padding: 0px;
  color: brown;
}

/* Título logo */
.m-titulo {
  margin-top: 50px;
  width: 25%;
}

h1 {
  text-align: center;
  color: rgb(233, 233, 220);
}

#carouselExampleFade {
  margin-top: 20px;
}
#carouselExampleFade .img-fluid {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  height: 500px;
  border: solid brown;
}

.foto-empresa {
  margin-top: 50px;
  display: flex;
}
.foto-empresa .imagen-empresa {
  width: 800px;
  height: 500px;
  margin-left: 20px;
}

.empresa-parrafo {
  margin-left: 50px;
  margin-right: 10px;
  font-size: 30px;
  text-align: start;
}
.empresa-parrafo .h2-empresa {
  text-align: center;
  color: brown;
  font-size: 35px;
}

.video {
  display: flex;
  margin-top: 40px;
}
.video .texto-video {
  font-size: 30px;
  width: 50%;
  text-align: right;
  margin: 0px;
}

iframe {
  width: 900px;
  margin-left: 50px;
  margin-right: 20px;
  display: flex;
  text-align: start;
}

@media (min-width: 414px) and (max-width: 768px) {
  .nav-bar-index {
    display: none;
  }
  .menu-hamburguesa {
    display: block;
  }
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
  .li-hamburguesa {
    font-size: 10px;
    list-style: none;
    display: inline;
  }
  .li-hamburguesa .boton-menu-hamburguesa {
    color: brown;
    text-decoration: none;
    border: brown;
    border: ridge;
    gap: 10px;
    padding: 3px;
  }
  #carouselExampleFade {
    height: 400px;
    margin-top: 30px;
  }
  #carouselExampleFade .img-fluid {
    height: 300px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  .foto-empresa {
    display: inline;
  }
  .foto-empresa .imagen-empresa {
    width: 80%;
    height: 250px;
    margin-left: 10%;
    margin-right: 10%;
  }
  .foto-empresa .empresa-parrafo {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    font-size: 15px;
    text-align: center;
  }
  .foto-empresa .empresa-parrafo .h2-empresa {
    text-align: center;
    color: brown;
  }
  .video {
    display: inline;
  }
  .video .texto-video {
    width: 80%;
    text-align: center;
    justify-content: flex-start;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 15px;
  }
  iframe {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    height: 400px;
  }
  /* CONTACTO CHAT BOX */
  .container-chat {
    margin-top: 50px;
  }
  .container-chat .col-md-8 {
    border: solid brown;
    padding: 0;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .container-chat .col-md-8 .chat-box {
    height: 200px;
    overflow-y: scroll;
  }
  .container-chat .col-md-8 .chat-box .message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .container-chat .col-md-8 .chat-box .message .message.sender {
    background-color: #e6f2ff;
  }
  .container-chat .col-md-8 .chat-box .message .message.sender .message.receiver {
    background-color: #f7f7f7;
  }
  /* BOX DE CONSULTAS */
  section {
    text-align: center;
  }
  section textarea {
    width: 90%;
    border: 2px solid brown;
  }
  section textarea .enviar-consulta {
    background-color: brown;
    opacity: 0.5;
  }
  section textarea .enviar-consulta:hover {
    background-color: brown;
    opacity: 1;
  }
  section textarea .enviar-consulta:focus {
    width: 200px;
    height: 50px;
  }
  section textarea .h1-consulta {
    font-size: 30px;
    color: brown;
    margin-top: 50px;
  }
  section textarea .h1-consulta .enviar-consulta {
    background-color: brown;
  }
}
@media (min-width: 768px) and (max-width: 1919px) {
  .menu-hamburguesa {
    display: block;
  }
  .nav-bar-index {
    display: none;
  }
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
  .li-hamburguesa {
    font-size: 22px;
    list-style: none;
  }
  .li-hamburguesa .boton-menu-hamburguesa {
    color: brown;
    text-decoration: none;
    border: brown;
    border: ridge;
    gap: 10px;
  }
  #carouselExampleFade {
    height: 400px;
    margin-top: 30px;
  }
  #carouselExampleFade .img-fluid {
    height: 300px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  .foto-empresa {
    display: inline;
  }
  .foto-empresa .imagen-empresa {
    width: 70%;
    height: 500px;
    margin-left: 15%;
    margin-right: 15%;
  }
  .foto-empresa .empresa-parrafo {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
  }
  .foto-empresa .empresa-parrafo .h2-empresa {
    text-align: center;
    color: brown;
  }
  .video {
    display: inline;
  }
  .video .texto-video {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
  }
  iframe {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
    height: 500px;
  }
  /* BOX DE CONSULTAS */
  section {
    text-align: center;
  }
  section textarea {
    width: 90%;
    border: 2px solid brown;
  }
  /* CONTACTO CHAT BOX */
  .container-chat {
    margin-top: 50px;
  }
  .container-chat .col-md-8 {
    border: solid brown;
    padding: 0;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media (min-width: 1920px) {
  .bg-nav {
    border-radius: 10px;
    border: rgb(144, 86, 86);
    border-bottom: 1px solid #ccc;
    border-style: solid;
    background-image: url("../IMG/img-sueltas/rustic-vintage-wooden-boards-on-260nw-1940804920.png");
    background-size: 150% 300%;
    height: 200px;
    width: 100%;
    top: 1;
    background-color: #fff;
    display: flex;
    font-size: 30px;
  }
  .bg-nav .logo-título {
    margin-top: 25px;
    display: inline-block;
  }
  .bg-nav .logo-título .imagen-logo {
    width: 200px;
    height: auto;
  }
  .nav-bar-index {
    display: block;
    width: 80%;
    margin-left: 350px;
    margin-top: 80px;
  }
  .nav-bar-index .lista-navbar {
    color: rgb(233, 233, 220);
    list-style: none;
  }
  .nav-bar-index .lista-navbar .boton-nav {
    background-color: rgba(0, 0, 0, 0.402);
    color: rgb(233, 233, 220);
    padding: 8px;
    text-decoration: none;
  }
  .nav-bar-index .lista-navbar .boton-nav:hover {
    background-color: #b99257;
  }
  .menu-hamburguesa {
    display: none;
  }
  #carouselExampleFade {
    margin-top: 40px;
  }
  #carouselExampleFade .img-fluid {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    height: 500px;
    border: solid brown;
  }
  .foto-empresa {
    margin-top: 100px;
    display: flex;
  }
  .foto-empresa .imagen-empresa {
    width: 1000px;
    height: 530px;
    margin-top: 62px;
    margin-left: 20px;
    margin-right: 0px;
  }
  .video {
    display: flex;
    margin-top: 100px;
  }
  .video .texto-video {
    font-size: 30px;
    text-align: start;
    margin: 0;
    margin-left: 30px;
    margin-right: 30px;
  }
  .video iframe {
    height: 600px;
    width: 50%;
    margin: 0;
    margin-right: 20px;
  }
}
/* CHAT BOX */
.container-chat {
  margin-top: 50px;
}
.container-chat .col-md-8 {
  border: solid brown;
  padding: 0;
}
.container-chat .col-md-8 .chat-box {
  height: 200px;
  overflow-y: scroll;
}
.container-chat .col-md-8 .chat-box .message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.container-chat .col-md-8 .chat-box .message .message.sender {
  background-color: #e6f2ff;
}
.container-chat .col-md-8 .chat-box .message .message.sender .message.receiver {
  background-color: #f7f7f7;
}

/* BOX DE CONSULTAS */
section {
  text-align: center;
}
section .enviar-consulta {
  background-color: brown;
  opacity: 0.5;
}
section .enviar-consulta:hover {
  background-color: brown;
  opacity: 1;
}
section .enviar-consulta:focus {
  width: 200px;
  height: 50px;
}
section .h1-consulta {
  font-size: 30px;
  color: brown;
  margin-top: 50px;
}
section .h1-consulta .enviar-consulta {
  background-color: brown;
}/*# sourceMappingURL=main.css.map */