.grid-layout {
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: 400px 400px 400px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  gap: 15px;

  &.caja {
    border: solid rgb(163, 122, 68);
    font-size: 29px;
    background: linear-gradient(590deg, brown, #b99257, white);

    & img {
      width: 100%;
      height: 100%;
    }
  }
}
